mixin default_form(name)
    form(name=name).disabled.form
        input(type='hidden', name='transaction_id', value=transaction.id)
        fieldset
            legend Kwota
            input(type='number', name='cost', min='0', value=transaction.cost)
        fieldset
            legend Nazwa
            input(type='text', name='name', value=transaction.proposed_type_name || transaction.title)

div.modal-content
    table.summary
        tr
            th Data
            td= transaction.date
        tr
            th Nazwa
            td= transaction.name
        tr
            th Tytuł
            td= transaction.title
        tr
            th IBAN
            td= transaction.iban

    form(name='select_type')
        legend Typ przelewu:
        input(type='radio', name='type', value='paid_month', checked, onchange='view.changeModalForm()')
        label Składka
        input(type='radio', name='type', value='bill', onchange='view.changeModalForm()')
        label Rachunek
        input(type='radio', name='type', value='donation', onchange='view.changeModalForm()')
        label Darowizna
        input(type='radio', name='type', value='other', onchange='view.changeModalForm()')
        label Inne

    form(name='add_type_paid_month').form
        input(type='hidden', name='transaction_id', value=transaction.id)
        input(
            type='hidden',
            name='member_id',
            value=transaction.proposed_member_id || '')
        fieldset
            legend Członek
            input(
                type='search',
                name='user_search',
                value=transaction.proposed_member ? transaction.proposed_member.name : '',
                class=transaction.proposed_member_id ? 'good-input' : '',
                oninput='view.seekUsers(this)')
            ul.data-list#type_users
        fieldset
            legend Miesiąc
            input(type='month', name='date', value=transaction.date.slice(0, 7))
        fieldset
            legend Kwota
            input(type='number', name='cost', min='0', value=transaction.cost)

    +default_form('add_type_bill')
    +default_form('add_type_donation')
    +default_form('add_type_other')

    button(type='button', onclick='view.addType()') Dodaj
    button(type='button', onclick='view.closeModal()') Zamknij

