mixin transaction_row(row)
    tr
        td= row.date
        td(title=row.name)= maxChars(row.name, 60)
        td(title=row.title)= maxChars(row.title, 60)
        td.price(
            class=row.cost < 0 ? 'negative' : 'positive'
          )= row.cost + " zł"
        td(title=row.iban)= maxChars(row.iban && row.iban.replace(/ /g, ''), 5)
        td: a.btn(onclick='addNewTypeTransaction') +


mixin foot_row(title, value)
    tr
        th= title
        th(colspan=2)
        th.price: strong= value
        th(colspan=2)

thead: tr
    th Data
    th Nazwa
    th Tytuł
    th Kwota
    th IBAN
    th Typy 
tbody
    each row in transactions
        +transaction_row(row)
tfoot
    +foot_row('SUMA', sum + ' zł')
    +foot_row('TOTAL', transactions.length)
