mixin transaction_row(num, row)
    tr
        th= row.date
        td(title=row.name)= maxChars(row.name, 60)
        td(title=row.title)= maxChars(row.title, 60)
        td.price(
            class=row.cost < 0 ? 'negative' : 'positive'
          )= row.cost + " zł"
        //td(title=row.iban)= maxChars(row.iban && row.iban.replace(/ /g, ''), 5)
        td
            each donat in row.donations
                span.badge.type_donation(
                    title='#{donat.name}\n#{donat.cost} zł',
                    onclick='view.removeType(this, "donation", #{donat.id})',
                ) D
            each bill in row.bills
                span.badge.type_bill(
                    title='#{bill.name}\n#{bill.cost} zł',
                    onclick='view.removeType(this, "bill", #{bill.id})',
                ) R
            each paid in row.paidmonths
                span.badge.type_paid_month(
                    title='#{paid.member.name}\n#{paid.date}\n#{paid.cost} zł',
                    onclick='view.removeType(this, "paid_month", #{paid.id})',
                ) S
            each other in row.others
                span.badge.type_other(
                    title='#{other.name}\n#{other.cost} zł'
                    onclick='view.removeType(this, "other", #{other.id})',
                ) O
            a.right.btn(onclick='view.addNewTypeTransaction(#{num})') +


mixin foot_row(title, value)
    tr
        th= title
        th(colspan=2)
        th.price: strong= value
        th

thead: tr
    th(width='7%') Data
    th(width='38%') Nazwa
    th(width='40%') Tytuł
    th(width='6%') Kwota
    th(width='5%') Typy 
tbody
    each row, num in transactions
        +transaction_row(num, row)
tfoot
    +foot_row('SUMA', sum + ' zł')
    +foot_row('TOTAL', transactions.length)
